.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-third {
  flex-basis: calc(100% / 3);
}

.col-full {
  flex-basis: 100%;
}

.col-six {
  flex-basis: calc(100% / 6);
}

.flex-details {
  margin-top: 1.75rem;
}

.col-one-third {
  flex-basis: calc(100% / 3);
  min-height: 25rem;
}

.col-two-thirds {
  flex-basis: calc((100% / 3) * 2);
  border: 2px solid red;
}
