.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-third {
  flex-basis: calc(100% / 3);
}

.col-full {
  flex-basis: 100%;
}

.col-six {
  flex-basis: calc(100% / 6);
}
