body {
  font-family: Arial, sans-serif;
  background-color: rgb(17, 52, 106);
  color: #fff;
}

header {
  background-color: rgb(5, 65, 120);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 1rem 0;
}

.header-heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 0;
  color: #fff;
  text-align: center;
  display: inline;
}

.fa-house {
  margin-left: 0.5rem;
  cursor: pointer;
}

.input-wrapper {
  text-align: center;
}

i {
  cursor: pointer;
}

input {
  border: 1px solid rgb(5, 65, 120);
  border-radius: 1.25rem;
  width: 80%;
  min-height: 2.25rem;
  padding-left: 0.75rem;
  margin-left: 0.5rem;
}

input::placeholder {
  color: rgb(17, 52, 106);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.main-header-1,
.main-header-2,
.genres-header {
  text-align: center;
  margin: 2rem 0;
}

img {
  width: 100%;
}

.game-img-wrapper {
  display: flex;
  min-height: 6rem;
  margin: 0 1rem;
}

.game-img-wrapper > img {
  border-radius: 100%;
  cursor: pointer;
}

.game-img-text {
  text-align: center;
}

@media (width < 795px) {
  .col-six {
    flex-basis: calc(100% / 3);
  }

  .container {
    max-width: 400px;
  }

  .fa-solid.fa-filter.fa-lg,
  .fa-solid.fa-magnifying-glass.fa-lg {
    display: none;
  }

  .header {
    font-size: 1rem;
  }

  ::placeholder {
    font-size: 0.75rem;
  }

  input {
    margin-left: 0;
  }
}

.game-description-container {
  max-width: 1000px;
  margin: 0 auto;
}

.details-img-wrapper {
  border: 2px solid red;
  height: 100%;
}

.col-one-third > img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.description-heading {
  text-align: center;
}

.description-paragraph {
  padding: 0 1.5rem;
}

.flex-official {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (width < 980px) {
  .col-one-third {
    flex-basis: 100%;
    margin: 0 2rem;
    text-align: center;
  }

  .col-two-thirds {
    flex-basis: 100%;
    text-align: center;
  }

  .description-paragraph {
    margin-block-end: 3rem;
  }
}

.trailer-div {
  margin-top: 2.5rem;
}

.trailer-heading {
  text-align: center;
}

.trailer-wrapper {
  position: relative;
}

.trailer {
  border-radius: 0.5rem;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.fa-play {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

video {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.display-filter {
  display: inline-block;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentcolor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentcolor transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.lds-ring-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
